.blog{
  h1{
    color: black;
    font-size: 4em;
    margin-left: -3px;
  }

  p{
    color: black;
    font-size: 1.2em;
  }
  a{
    text-decoration: none;
    color: black;
  }
}

.article-snippet{
  margin-top: 0px;
}

.n42-article{
  h1{
    font-size: 3em;
  }
  pre{
    background-color: #f5f3ed;
    padding: 1em;
    border-radius: 3px;
  }
}
