$red-color: #D24335;
.blog{
  h1,h2{
    font-family: "Roboto-Medium";
  }

  h1{
    color: black;
    font-size: 4em;
  }

  p,li{
    color: black;
    font-size: 1.2em;
    &.time{
      font-style: italic;
    }
  }

  a{
    color: black;
    &hover{
      // text-decoration: none;
    }
  }

  h2 > a:hover{
    text-decoration: underline;
  }
}

.article-snippet{
  margin-top: 0px;
}

.n42-article{
  h1,h2,h3{
    font-family: "Roboto-Medium";
    font-weight: 500;
    margin-left: -1.5px;
  }
  h2,h3{
    margin-top: 1.1em;
    margin-bottom: 0.2em;
  }
  h1{
    font-size: 2em;
    line-height: 1.1;
  }

  h2{
    font-size: 1.8em;
  }

  h3{
    font-size: 1.4em;
  }

  p,li{
    font-family: "RobotoSlab-Light", serif;
    font-weight: 300;
    margin-top: 0.2em;
  }
  // color: black;
  :not(pre) > code{
    background-color: #f5f2f0;
    border-radius: 3px;
    padding: 3px;
    color: #666;
  }
  strong{
    font-family: "RobotoSlab-light", sans-serif;
    font-weight: 600;
  }
  em{
    color: black;

  }
  a>em:hover{
    color: $red-color;
  }
  a{
    text-decoration: underline;
  }
  .highlight{
    pre {
      margin-top: 2.1em;
      margin-bottom: 2.1em;
      padding: 1em;
      background-color: #f5f2f0;
    }
    border-radius: 3px;
  }

  img+em{
    position: relative;
    left: 50%;
    display: inline-block;
    transform: translateX(-50%);
    font-size: 0.8em;
    color: grey;
  }
}

.n42-no-underline:hover{
  text-decoration: none;
}

.n42-article-card{
  min-height: 250px;
  background-color: white;
  box-shadow: 2px 2px 8px 1px #0000001f;
  padding-bottom: 10px;
  transition: box-shadow 100ms;
  &:hover{
    box-shadow: 4px 4px 12px 3px #0000001f;

  }
  .n42-card-body{
    padding-left: 10px;
    padding-right: 10px;
  }
  p{
    // font-style: italic;
    font-size: 0.9em;
    text-decoration: none;
    &:hover{
      color: black;
    }
  }
}
