.blog{
  h1{
    color: black;
    font-size: 4em;
    margin-left: -3px;
  }

  p{
    color: black;
    font-size: 1.2em;
  }
  a{
    text-decoration: none;
    color: black;
  }
}

.article-snippet{
  margin-top: 0px;
}

.n42-article{
  em{
    color: black;
  }
  a{
    text-decoration: underline;
  }
  h1{
    font-size: 3em;
  }
  pre{
    background-color: #f5f2f0;
    padding: 1em;
    border-radius: 3px;
  }

  img+em{
    position: relative;
    left: 50%;
    display: inline-block;
    transform: translateX(-50%);
    font-size: 0.8em;
    color: grey;
  }
}
